body {
  background: #F8EEDC;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.btn-kembali {
  position: absolute;
  top: 40px;
  left: 40px;
  background: #8B0E0E;
  color: #fff;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}

.btn-kembali:hover {
  background: #A11A1A;
}

.left-section h2,
.right-section h2 {
  font-size: 28px;
  color: #7A0E0E;
  margin-bottom: 20px;
  text-align: center;
}

.left-section {
  width: 50%;
}

.order-card {
  background: #FAF2E2;
  border: 2px solid #A14A4A;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.checkbox {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #7D0000;
}

.order-info {
  width: 100%;
}

.order-name {
  font-size: 18px;
  font-weight: 600;
}

.order-price {
  float: right;
  font-size: 17px;
  color: #7D0000;
  font-weight: 600;
}

.qty-box {
  margin-top: 10px;
  font-size: 14px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid #D9B6B6;
}

.right-section {
  width: 45%;
}

.detail-box {
  background: #FAF2E2;
  padding: 25px;
  border-radius: 12px;
  border: 2px solid #A14A4A;
  font-size: 16px;
  line-height: 1.8;
}
